@import url('./styles/reset.css');
@import url('./styles/variables.css');
@import url('./styles/message.css');
@import url('./styles/button.css');
@import url('./styles/input.css');
@import url('./styles/footer.css');

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--LIGHT_BLUE_LIGHT_BLUE_100);

  padding: 24px 16px 0 16px; 
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.main_container {
  width: 100%;
  max-width: 1440px;

  display: flex;
  flex-direction: column;
  gap: 64px;

  .principal {
    flex: 1; 

    display: flex;
    flex-direction: column;
    gap: 64px;

    .principal_input {
      height: 100%;
      display: flex;
      flex-direction: column;

      .principal_input_text{
        flex: 1;
      }
    }
  }
}

/* media queries */

@media screen and (min-width: 768px) { /* tablet size */
  body{
    padding: 74px 40px 0 40px;
  }
}

@media screen and (min-width: 1440px) { /* desktop size */
  body{
    padding: 40px;
    padding-bottom: 0;
  }

  .main_container{
    gap: 0;

    .principal {
      flex-direction: row;
      gap: 80px;
      margin-bottom: 64px;

      .principal_input{
        flex: 1;
        padding: 128px 0 32px 140px; 
      }
    }
  }
}