@import url('/styles/variables.css');
@import url('/styles/button.css');
@import url('/styles/message.css');

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--LIGHT_BLUE_LIGHT_BLUE_100);

  margin: 0 16px; 
}