/* variables */
:root {
  --WHITE: #FFFFFF;
  --DARK_BLUE_DARK_BLUE_100: #609ED4;
  --DARK_BLUE_DARK_BLUE_200: #356EA9;
  --DARK_BLUE_DARK_BLUE_300: #0A3871;
  --DARK_BLUE_DARK_BLUE_400: #072B61;
  --DARK_BLUE_DARK_BLUE_500: #052051;
  --LIGHT_BLUE_LIGHT_BLUE_100: #F3F5FC;
  --LIGHT_BLUE_LIGHT_BLUE_200: #EFF1FA;
  --LIGHT_BLUE_LIGHT_BLUE_300: #E9ECF8;
  --LIGHT_BLUE_LIGHT_BLUE_400: #AAB2D5;
  --LIGHT_BLUE_LIGHT_BLUE_500: #757FB2;
  --GRAY_GRAY_100: #CED4DA;
  --GRAY_GRAY_200: #ADB5BD;
  --GRAY_GRAY_300: #868E96;
  --GRAY_GRAY_400: #495057;
  --GRAY_GRAY_500: #343A40;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--LIGHT_BLUE_LIGHT_BLUE_100);

  margin: 0 16px; 
}