.btn_container{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
}

.btn{
  width: 100%;
  padding: 24px;
  text-align: center;
  
  font-size: 16px;

  border: 1px solid var(--DARK_BLUE_DARK_BLUE_300);
  border-radius: 24px;

  background-color: transparent;
  color: var(--DARK_BLUE_DARK_BLUE_300);

  cursor: pointer;
  line-height: 1.2;

  &:hover{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.28);
  }

  &:active{
    color: var(--WHITE);
    background-color: var(--DARK_BLUE_DARK_BLUE_300);
  }
}

/* styles encrypting button */
.btn_encrypt{
  color: var(--WHITE);
  background-color: var(--DARK_BLUE_DARK_BLUE_300);

  &:active{
    color: var(--DARK_BLUE_DARK_BLUE_300);
    background-color: var(--GRAY_GRAY_BTN_DECRYPT);
  }
}

/* media queries */

@media screen and (min-width:1440px) { /* desktop size */
  .btn_decrypt{
    background-color: var(--GRAY_GRAY_BTN_DECRYPT);
  }
}