footer{
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.footer_paragraph{
  color: var(--DARK_BLUE_DARK_BLUE_300);
  display: flex;
  gap: 4px;

  a {
    color: var(--DARK_BLUE_DARK_BLUE_300);
    font-weight: bold;
  }
}

